---
import { Image } from "astro:assets";
interface Props {
  title: string;
  body: string;
  href: string;
  src: any;
  alt: string;
}

const { href, title, body, src, alt } = Astro.props;
---

<div class="card flex flex-col bg-slate-200 gap-4 w-72 h-full">
  <picture class="rounded-t-lg">
    <Image src={src} alt={alt} class="rounded-t-2xl shadow-2xl" />
  </picture>
  <div>
    <p class="text-center text-xl font-semibold text-slate-900">
      {title}
    </p>
    <p class="text-start px-3 py-1 text-base text-slate-600">
      {body}
    </p>
    <button
      class="font-semibold border-2 border-slate-800 py-1 px-6 mx-auto text-lg rounded-full my-2 flex justify-center"
      ><a href={href} target="_blank">Preview</a></button
    >
  </div>
</div>

<style>
  .card {
    width: 250px;
    height: 410px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  button {
    transition: 100ms;
  }

  button:hover {
    box-shadow:
      0 0 0px 1px #fcfcfc,
      0 0 10px 2px #fcfcfc,
      inset 0 0 0px 1px #fcfcfc,
      inset 0 0 30px 2px #fcfcfc;
    transform: translateY(0px);
    text-shadow:
      -1px -1px 0px #fcfcfc,
      1px 1px 0px #fcfcfc;
  }

  button:active {
    box-shadow:
      0 0 0px 1px #fcfcfc,
      0 0 25px 2px #fcfcfc,
      inset 0 0 0px 1px #fcfcfc,
      inset 0 0 30px 2px #fcfcfc;
    transform: translateY(1px);
  }
  button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: "Hire me";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  button::after {
    content: "Preview";
  }
  button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow:
      -3px -3px 0px #ffffff,
      3px 3px 0px #fcfcfc;
    background-color: transparent;
  }

  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px, -10px);
    }

    10% {
      clip-path: var(--move2);
      transform: translate(-10px, 10px);
    }

    20% {
      clip-path: var(--move3);
      transform: translate(10px, 0px);
    }

    30% {
      clip-path: var(--move4);
      transform: translate(-10px, 10px);
    }

    40% {
      clip-path: var(--move5);
      transform: translate(10px, -10px);
    }

    50% {
      clip-path: var(--move6);
      transform: translate(-10px, 10px);
    }

    60% {
      clip-path: var(--move1);
      transform: translate(10px, -10px);
    }

    70% {
      clip-path: var(--move3);
      transform: translate(-10px, 10px);
    }

    80% {
      clip-path: var(--move2);
      transform: translate(10px, -10px);
    }

    90% {
      clip-path: var(--move4);
      transform: translate(-10px, 10px);
    }

    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
</style>
