---
import Html from "../../public/icon/html.svg";
import Css from "../../public/icon/css.svg";
import Js from "../../public/icon/js.svg";
import Ts from "../../public/icon/ts.svg";
import Angular from "../../public/icon/angular.svg";
import Pm from "../../public/icon/pm.svg";
import Ux from "../../public/icon/uxui.svg";
import React from "../../public/icon/react.svg";
import AstroF from "../../public/icon/astro.svg";
import NodeJs from "../../public/icon/nodejs.svg";
import Ionic from "../../public/icon/ionic.svg";
import Php from "../../public/icon/php.svg";
import Bootstrap from "../../public/icon/bootstrap.svg";
import Tailwind from "../../public/icon/tailwind.svg";
import Figma from "../../public/icon/figma.svg";
import Xd from "../../public/icon/xd.svg";
import Ai from "../../public/icon/ai.svg";
import PictureSkill from "./Picture-skill.astro";
---

<!-- Skills.astro -->
<section id="skills" class="flex gap-20 flex-col my-32">
  <h2 class="text-slate-200 text-4xl lg:text-5xl text-center font-semibold">
    Skills
  </h2>
  <div
    class="flex flex-row flex-wrap items-center justify-center gap-10 mx-auto md:mx-0"
  >
    <PictureSkill src={Html} alt="HTML" label="HTML" />
    <PictureSkill src={Css} alt="CSS" label="CSS" />
    <PictureSkill src={Js} alt="JavaScript" label="JavaScript" />
    <PictureSkill src={Ts} alt="TypeScript" label="TypeScript" />
    <PictureSkill src={Angular} alt="Angular" label="Angular" />
    <PictureSkill src={Pm} alt="Project Management" label="Leading" />
    <PictureSkill src={Ux} alt="User Experience" label="UX/UI" />
    <PictureSkill src={React} alt="React" label="React" />
    <PictureSkill src={AstroF} alt="Astro" label="Astro" />
    <PictureSkill src={NodeJs} alt="NodeJs" label="NodeJS" />
    <PictureSkill src={Ionic} alt="Ionic" label="Ionic" />
    <PictureSkill src={Php} alt="Php" label="PHP" />
    <PictureSkill src={Bootstrap} alt="Bootstrap" label="Bootstrap" />
    <PictureSkill src={Tailwind} alt="Tailwind" label="Tailwind" />
    <PictureSkill src={Figma} alt="Figma" label="Figma" />
    <PictureSkill src={Xd} alt="Adobe XD" label="Adobe XD" />
    <PictureSkill src={Ai} alt="Adobe Illustrator" label="Illustrator" />
  </div>
</section>
